<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Result</h4>
                        <p class="card-category"> Result for Sub_category and Category</p>
                    </div>
                    <div class="card-body">
                        <!-- <div class="table-responsive table-bordered">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="col-md-1">{{dataHeader.A}}</th>
                                        <th class="col-md-1">{{dataHeader.B}}</th>
                                        <th class="col-md-1">{{dataHeader.C}}</th>
                                        <th class="col-md-1">{{dataHeader.D}}</th>
                                        <th class="col-md-1">{{dataHeader.E}}</th>
                                        <th class="col-md-1">{{dataHeader.F}}</th>
                                        <th class="col-md-1">{{dataHeader.G}}</th>
                                        <th class="col-md-1">{{dataHeader.H}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let d of dataObj;let d=index">
                                        <td class="col-md-1">{{d.A}} </td>
                                        <td class="col-md-1">{{d.B}} </td>
                                        <td class="col-md-1">{{d.C}}</td>
                                        <td class="col-md-1">{{d.D}}</td>
                                        <td class="col-md-1">{{d.E}}</td>
                                        <td class="col-md-1">{{d.F}}</td>
                                        <td class="col-md-1">{{d.G}}</td>
                                        <td class="col-md-1">{{d.H}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> -->

                        <div class="row">

                            <div class="col-md-4">
                                <button class="btn btn-danger" (click)="openSubcategoryPage()">Result for Sub-category</button>
                            </div>

                            <div class="col-md-4">
                                <button class="btn btn-danger" (click)="opencategoryPage()">Result for Category</button>        
                            </div>

                            <div class="col-md-4">
                                <button class="btn btn-danger" (click)="openFinalDeal()">Final Bom</button>        
                            </div>
                        </div>

                        <div *ngIf="showSubCategory" style="overflow: auto;">
                            <img src="../assets/final.jpeg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>